.header {
  height: 200px;
  border: 1px solid black;
}

.aueb-img {
  width: 100%; /* παίρνει όλο το πλάτος */
  height: calc(95vh - 200px); /* ύψος ανάλογα με το viewport */
}

.aueb-img > img {
  width: 100%;     /* η εικόνα γεμίζει όλο το πλάτος */
  height: auto;    /* διατηρεί τις αναλογίες */
  display: block;  /* αφαιρεί περιττά κενά γύρω από την εικόνα */
  object-fit: cover; /* αν θέλεις να γεμίσει όλο το div χωρίς κενά */
}